<strong>Recuperando senha</strong>

<p>
  Uma solicitação de recueração de senha foi requisitada para o email ({{ email }})
</p>

<p>
  Se você não foi o autor dessa requisição, aconselhamos trocar sua senha por segurança.
</p>

<p>
  Para continuar com a recuperação de senha, utilize o token: {{ token }} ou utilize o link abaixo
</p>

<a href="{{ link }}">Criar nova senha</a>
